<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示信息</title>
    <script src="{{url_for('static',filename='jquery-3.3.1.js')}}"type="text/javascript"></script>
</head>
<body>
      <h1>{{c}}</h1>
      <a href="{{ url_for('hello_world4')}}"><span id="s-1"></span></a>
      <script>
          {% if cc==1%}
              var n=5;
              setInterval(function(){
              n--;
              $("#s-1").text(n+"秒后自动跳转");

               if(n==0){
                  window.location.href={{url_for('hello_world4')}}
              }
          },1000);


          {% endif %}

      </script>
</body>
</html>